@import 'base/reset';
@import 'base/fonts';
@import 'base/grid';

body {
  font: 500 14px "Maitree", sans-serif;
  line-height: 24px;
  color: #5D6B86;
}
button,path,circle,input[submit] {
  transition: .2s;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  font-family: 'Gilroy';
  color: #00102F;
  text-transform: capitalize;
}
h1 {
  font-size: 72px;
  line-height: 64px;
}
h2 {
font-size: 48px;
line-height: 64px;
}
h3 {
  font-family: 'Gilroy';
  font-size: 32px;
  font-weight: 800;
  line-height: 48px;
  color: #00102F;
}
.button-main {
  padding: 12px 24px;
  font-family: 'Gilroy';
  font-weight: 700;
  line-height: 24px;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #4169E1;
  color: #fff;
   &:hover {
      color: #4169e1;
      background-color: #fff;
      border: 1px solid #4169e1;
    }
}
.span-title {
  color: #4169E1;
}
.undertitle {
  font-family: 'Gilroy';
  font-size: 15px;
  font-weight: 600;
  color: #4169E1;
  margin-bottom: 8px;
}
.crumbs {
  position: relative;
  text-transform: capitalize;
  color: #4169E1;
  margin-right: 24px;
  &::after {
    position: absolute;
    right: -14px;
    content: '>';
    color: #5D6B86;
  }
}
p {
  margin: 0;
}
input, textarea {
  font: 500 14px "Maitree", sans-serif;
  line-height: 24px;
  border: 1px solid #BECCE5;
  border-radius: 8px;
  padding: 20px 16px;
}
button,input[type="submit"] {
  font: 700 14px "Gilroy", sans-serif;
  cursor: pointer;
  line-height: 24px;
  background-color: transparent;
  border: none;
}
button,input[type="submit"],a {
  &:hover {
    transition: .5s;
  }

}
path,rect {
  transition: .2s;
}
input[type="submit"] {
  -webkit-appearance: none;
}
input,textarea {
  border-radius: 0;
}
// =======
.input {
  display: inline-block;
  &:hover {
      background-color: transparent;
  }
}
.toggle-menu {
  display: none;
  background: transparent;
  border: none;
  width: 25px;
  height: 15px;
  display: none;
  padding: 0;
  flex-direction: column;
  justify-content: space-between;
  span {
    height: 1px;
    width: 100%;
    background-color: #4169E1;
  }
}

header.header {
    padding: 24px 0;
    background-color: #fff;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 9;
    .main-menu {
        display: flex;
        align-items: center;
        column-gap: 40px;
        list-style: none;
        a {
            color: #00102F;
            font-family: 'Gilroy';
            font-size: 14px;
            font-weight: 600;
            line-height: 24px;
            &:hover, :active {
                color: #4169E1;
            }
        }
    }
}
.main-menu-wrap {
  display: flex;
}
  .search {
    position: absolute;
    right: 0;
    top:-7px;
    width: 24px;
    height: 24px;
    background-image: url(../images/svg/Search.svg);
    background-repeat: no-repeat;
    background-position: right;
    border: none;
    background-color: #fff;

    &:focus {
      border: 1px solid #4169E1;
      width: 100%;
      z-index: 100;
    }
  }
.menu-line {
  width: 1px;
  height: 24px;
  margin-right: 47px;
  margin-left: 29px;
  background-color: #5D6B86;
}
.tel {
  position: relative;
  font-family: 'Gilroy';
  font-size: 13px;
  font-weight: 600;
  line-height: 24px;
  color: #00102F;
}
.tel-span {
  position: absolute;
  left: -28px;
  bottom: -7px;
}
.search-box {
  position: relative;
  padding-right: 50px;
}
/*first-window*/

.herosection {
  padding: 16px 16px 0 16px;
  color: #fff;
}
.box-herosection {
  padding: 56px 0  120px;
  background-image: url(../images/img/background-home.webp);
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  .herosection-undertitle {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 68px;
  }
  p {
    margin-bottom: 40px;
    max-width: 716px;
  }
  .button-main {
    background-color: #fff;
    color: #002366;
    &:hover {
      background-color: #002366;
      color: #fff;
    }
  }
}
.title-first-herosection {
  max-width: 810px;
  margin-bottom: 30px;
  color: #fff;
}
/*services*/
.services {
  padding: 120px 0 88px;
}
.title-services {
  margin-bottom: 40px;
}
.services_item {
  margin-bottom: 16px;
  padding: 24px 16px 16px 16px;
  background-color: #F1F6FF;
  font-size: 12px;
  line-height: 16px;
  border-radius: 8px;
  &:hover {
    background-color: #002366;
    color: #fff;
    transition: .2s;
    svg {
      path {
        fill: #fff;
      }
    }
    .services_item--title {
      color: #fff;
    }
  }
  svg {
    margin-bottom: 16px;
  }
}
.services_item--title {
  color: #002366;
  font-family: 'Gilroy';
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}
/*case*/
.case {
  padding: 0 16px;
  .undertitle {
  font-family:'Maitre';
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  }
  .button-main {
    background-color: #002366;
    &:hover {
      color: #002366;
      background-color: #fff;
    }
  }
}
.case_box {
  background-image: url(../images/img/wave.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 56px 16px 0px;
}
.case_box-text {
  padding-top: 80px;
}

.case_title {
  color: #fff;
  margin-bottom: 32px;
  font-size: 72px;
  font-weight: 800;
  line-height: 64px;
}
.case_box-item {
line-height: 16px;
color: #fff;
padding-bottom: 56px;
padding-left: 59px;
border-left: 1px solid #fff;
position: relative;
.case_box-item:last-child {
  margin-bottom: 0;
}
p {
  margin-top: 8px;
}
&::before {
  content: '';
  position: absolute;
  top: 0;
  left: -0.5%;
  width: 4.44px;
  height: 4.44px;
  background-color: #fff;
  border: 1px solid #4169E1;
  border-radius: 50%;
  outline: 1px solid #fff;
}
&:last-child {
  border-left: none;
}
}
.case_item-link {
  margin-bottom: 8px;
  font-family: 'Gilroy';
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  position: relative;
  &:hover {
    text-decoration: underline;
  }
}
.case-ico {
  position: absolute;
  left: -30px;
  top: 2px;
}
/*sertifications*/
.sertifications {
  padding: 112px 16px 120px;
  text-align: center;
}
.sertifications_box-title {
  max-width: 664px;
  margin: 0 auto;
}
.sertifications_undertitle {
  color: #4169E1;
  font-family: 'Gilroy';
  font-size: 15px;
  font-weight: 600;
}
.sertifications_title {
  margin-top: 8px;
  margin-bottom: 32px;
}
.sertifications_box-svg {
  padding: 40px 0 26px;
  border: 1px solid #BECCE5;
  border-radius: 16px;
  
}
.sertifications_box-text {
  margin: 0 auto;
  max-width: 942px;
  p {
    margin-top: 32px;
    margin-bottom: 24px;
  }
  .button-main {
     &:hover {
      color: #4169e1;
      background-color: #fff;
      border: 1px solid #4169e1;
    }
  }
}
/*next-step*/
.next-step {
  padding: 0 16px;
  color: #fff;
  margin-bottom: 44px;
}
.next-step_box {
  padding: 67px 0 61px;
  background-image: url(../images/img/wave.webp);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-radius: 8px;
}
.next-step_box-text {
  max-width: 594px;
  margin: 0 auto;
  p {
    margin-bottom: 49px;
  }
  .button-main {
    background-color: #002366;
    color: #fff;
    &:hover {
      color: #002366;
      background-color: #fff;
    }
  }
}  
.next-step_title {
  margin-bottom: 16px;
  color: #fff;
}


/*blog*/
.blog {
  padding: 26px 0 44px;
  margin-top: -100px;
  .blog_link-title {
    margin: 24px 0 21px;
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 700;
    color: #002366;
    text-transform: capitalize;
  }
  p {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 56px;
  }
  .button-main {
    margin: 0 auto;
    display: block;
  }
}
.blog_link-box-img {
  overflow: hidden;
  border-radius: 8px;
  img {
    width: 100%;
    display: block;
    scale: 1.5;
    transition: scale .5s;
    &:hover {
      scale: 1;
    }
  }
}
.blog_title {
  margin-bottom: 40px;
}
/*equipment*/
.equipment {
  padding: 0 16px;
}
.equipment_container {
  position: relative;
  padding: 8px;
  background-color: #F1F6FF;
  border-radius: 8px;
}
.equipment_item-text {
  padding: 69px 0 64px;
}
.equipment_item-text p {
  margin-bottom: 20px;
  max-width: 524px;
}
.equipment_item-text {
  margin-bottom: 8px;
  .button-main {
    margin-top: 15px;
  }
}
.equipment_item-img {
  position: absolute;
  top: 13px;
  right: 12px;
  width: 48%;
  min-height: 432px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/img/notebook.webp);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  svg {
  }
}
.equipment_title {
  margin-bottom: 16px;
  max-width: 605px;
}
/*managment*/
.managment {
  padding: 101px 0 160px;
  background: center bottom 30px url(../images/img/background.png) no-repeat;
}
.managment_box {
  display: flex;
  align-items: flex-start;
}
.managment_text {
  width: 50%;
  padding-right: 118px;
}
.managment_title {
  margin-bottom: 32px;
}
.managment_list {
  padding-left: 30px;
  list-style-type: none;
}
.managment_list-item {
  position: relative;
  margin-bottom: 32px;
  font-family: 'Maitree';
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  &::before {
    content: '';
    position: absolute;
    top: 12%;
    left: -6%;
    width: 4.44px;
    height: 4.44px;
    border: 2px solid #4169E1;
    border-radius: 50%;
  }
}
.managment_item-box {
  display: grid;
 grid-template-columns: repeat(2, 0.5fr);
  gap: 16px;
  width: 50%;
}
.managment_item {
  display: flex;
  flex-direction: column;
  height: calc(100% + 20px);
  width: calc(100% + 20px);
  margin-top: -20px;
  margin-left: -20px;
  img {
    min-height: 100%;
  }
}
.managment_item-link {
  color: #5D6B86;
}
.managment_item-text {
  display: flex;
  flex-direction: column;
  background-color: #F1F6FF;
  padding: 24px 16px 16px 16px;
  border-radius: 8px;
  p {
    font-size: 12px;
    line-height: 16px;
  }
  svg {
    margin-bottom: 15px;
  }
  &:hover {
    background-color: #002366;
    transition: .2s;
    color: #fff;
    svg {
     path{
      fill: #fff;
     }
    }
    .managment_span {
      color: #fff;
    }

  }
}
.managment_span {
  font-family: 'Gilroy';
  font-size: 18px;
  font-weight: 700;
  color: #002366;
  margin-bottom: 9px;
}

/*footer*/
footer {
  background-color: #002366;
  padding-top: 48px;
}
.footer_list {
  list-style-type: none;
}
.footer_link {
  position: relative;
  font-family: 'Gilroy';
  font-size: 14px;
  font-weight: 600;
  color: #fff; 
  &:hover {
    text-decoration: underline;
  }
  &::before {
    content: '';
    position: absolute;
    top: 5px;
    left: -13px;
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50%;
  }
}
/*footer-copyright*/
.footer_copyright {
  margin-top: 64px;
  padding-bottom: 8px;
  background-color: #002366;
  display: flex;
  justify-content: space-between;
  font-family: 'Gilroy';
  font-size: 12px;
  font-weight: 600;
  color:#fff;
}
.copyright-link {
  font-family: 'Gilroy';
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}
                                                                        /*Page Services*/
.services-life {
  padding: 16px 16px 0 16px;
  margin-bottom: 32px;
}
.box-services-life{
  position: relative;
  padding: 96px 0  120px;
  border-radius: 16px;
  background: center bottom 0 / contain no-repeat url(../images/img/back.png);
  background-color: #F1F6FF;
  p {
    max-width: 716px;
  }
}
.title-services-life {
  margin-bottom: 40px;
}    
/*different*/      
.different {
  margin-bottom: 64px;
}
.different_box {
  display: flex;
}
.different_text {
  width: 50%;
  padding-right: 121px;
  padding-top: 24px;
  .button-main {
    margin-top: 24px;
  }
  p {
    margin-bottom: 29px;
  }
}
.different_title {
  margin-bottom: 24px;
}
.different_box-items {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 16px;

}
.different_item5 {
  grid-column-start: span 2;
}
.different_item-title {
  font-family: 'Gilroy';
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #002366;
  margin-bottom: 24px;
  max-width: 308px;
}
/*offer*/
.offer {
  padding: 0 16px;
  margin-bottom: 48px;
}
.offer_container {
  background-color: #F1F6FF;
  border-radius: 8px;
}
.offer_item {
  padding-top: 24px;
  padding-bottom: 32px;
  svg {
    margin-bottom: 5px;
  }
  p {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
    }
  .offer_item-title {
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #002366;
    margin-bottom: 9px;
  }
}
/*lifecycle*/
.lifecycle {
  padding: 0 16px;
  border-radius: 8px;
  color: #fff;
}
.lifecycle_box {
  background-image: url(../images/img/wave.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 48px 0 40px;
}
.lifecycle_box-text {
  max-width: 524px;
  margin: 0 auto;
  text-align: center;
}
.lifecycle_undertitle {
  font-family: 'Gilroy';
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
}
.lifecycle_title {
  color: #fff;
  margin-bottom: 40px;
}
.lifecycle-item {
  svg {
    margin-bottom: 8px;
  }
}
.lifecycle_item-title {
  font-family: 'Gilroy';
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 16px;
}
.lifecycle_item-link {
font-size: 14px;
font-weight: 500;
line-height: 32px;
color :#F1F6FF;
text-decoration: underline;
&:hover{
  text-decoration: none;
}
}
/*assesment*/
.assessment {
  padding: 64px 0 64px;
  background: url(../images/img/assessment.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.assessment_box {
  max-width: 847px;
  margin: 0 auto;
  form {
    max-width: 847px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 24px;
    .button-main {
      margin: 0 auto;
    }
  }
  input {
    width: 49%;
    border-radius: 8px;
  }
  textarea {
    width: 100%;
    color: #5D6B86;
    border-radius: 8px;
  }
  .contact-span {
    color:#002366;
    font-family: 'Gilroy';
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
  }
 
}
.assessment_box-text {
  max-width: 642px;
  text-align: center;
  margin: 0 auto;
}
.assessment_title {
  text-transform: none;
  margin-bottom: 16px;
}
.assesment_subtitle {
  font-family: 'Gilroy';
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 40px;
  color: #4169E1;
}


                                                                        /*Page Case*/
 
/*caseherosection*/
.caseherosection {
  padding: 16px 16px 0 16px;
  margin-bottom: 32px;
}
.box-caseherosection {
  position: relative;
  padding: 96px 0  120px;
  border-radius: 16px;
  background: right bottom  / 70% no-repeat url(../images/img/Case/back.png);
  background-color: #F1F6FF;
  p {
    max-width: 716px;
  }
}
.title-caseherosection {
  margin-bottom: 40px;
}
/*casecrumbs*/
.casecrumbs {
  margin-bottom: 64px;
}
/*closure-project*/
.closure-project {
  padding: 0 16px;
  margin-bottom: 25px;
}
.closure-project_container {
  position: relative;
}
.closure-project_item-text {
  padding: 0 0 64px;
  .button-main {
    margin-top: 15px;
  }
}
.closure-project_item-text p {
  margin-bottom: 20px;
  max-width: 524px;
}
.closure-project_item-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 48%;
  min-height: 432px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/img/Case/chart.webp);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  svg {
  }
}
.closure-project_title {
  margin-bottom: 26px;
  max-width: 605px;
}
/*virtual-school*/
.virtual-school {
  padding: 0 16px;
  margin-bottom: 32px;
}
.virtual-school_container {
  position: relative;
  padding: 8px;
  background-color: #F1F6FF;
  border-radius: 8px;
}
.virtual-school_item-text {
  padding: 23px 0 23px;
  margin-bottom: 8px;
  margin-left: 57%;
  .button-main {
    margin-top: 15px;
  }
}
.virtual-school_item-text p {
  margin-bottom: 20px;
  max-width: 524px;
}
.virtual-school_item-img {
  position: absolute;
  top: 12px;
  left: 13px;
  width: 48%;
  min-height: 432px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/img/Case/audience.webp);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  svg {
  }
}
.virtual-school_title {
  margin-bottom: 26px;
  max-width: 605px;
}
/*blogcase*/
.blogcase {
  padding-bottom: 44px;
  .blogcase_link-title {
    margin: 24px 0 21px;
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 700;
    color: #002366;
  }
  p {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 56px;
  }
  .button-main {
    margin: 0 auto;
    display: block;
  }
}
.blogcase_link {
  img {
    width: 100%;
  }
}
.blogcase_title {
  margin-bottom: 40px;
}
/*directly*/
.direcly {
  padding: 0 16px;
  color: #4169E1;
  margin-bottom: 16px;
}
.direcly_box {
  padding: 67px 0 61px;
  text-align: center;
  border-radius: 8px;
  background-color: #F1F6FF;
}
.direcly_box-text {
  max-width: 594px;
  margin: 0 auto;
  p {
    margin-bottom: 49px;
  }
  .button-main {
    background-color: #4169E1;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: #4169E1;
    }
  }
}  
.direcly_title {
  margin-bottom: 16px;
  color: #002366;
}                                                       
                                                                       /*Page About*/
/*About*/
.about {
  padding: 16px 16px 0 16px;
  background: right center / 70% no-repeat url(../images/img/About/back.png);
  background-color: #F1F6FF;
}
.box-about {
  position: relative;
  padding: 96px 0  120px;
  border-radius: 16px;
  p {
    max-width: 716px;
  }
  img {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.title-about {
  margin-bottom: 40px;
}
/*partner*/
.partner {
  padding: 32px 0 88px;
  .button-main {
    margin-top: 48px;
  }
}
.partner_text-box {
  max-width: 686px;
}
.parnner_crumbs {
  display: flex;
  margin-bottom: 64px;
}
.partner_title {
  margin-top: 24px;
  margin-bottom: 24px;
}
.partner_title + p {
  margin-bottom: 64px;
}
.partner_subtitle {
  font-family: 'Gilroy';
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #002366;
  margin-bottom: 16px;
  text-transform: capitalize;
}
/*both*/
.both {
padding: 0 16px 32px;
}
.both_container {
  padding: 80px 64px;
  background-color: #F1F6FF;
  border-radius: 8px;
}
.both_title {
  margin-bottom: 88px;
}
.item_both {
  margin-bottom: 96px;
}
.item_both:last-child {
  margin-bottom: 0;
}
.both_item-title {
  font-family: 'Gilroy';
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #002366;
  text-transform: capitalize;
}
/*mission*/
.mission {
padding: 0 16px;
margin-bottom: 40px;
}
.mission_box {
  background-image: url(../images/img/About/girl.webp);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  padding: 89px 0 80px;
}
.mission_box-text {
  max-width: 569px;
  p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    color: #002366;
  }
}
.mission_title {
  margin-bottom: 31px;
  color: #fff;
}
                                                                       /*Страница Learning*/
/*Learning*/

.learning {
  padding: 16px 16px 0 16px;
}
.box-learning {
  position: relative;
  padding: 96px 0  120px;
  border-radius: 16px;
  background: left bottom / 81% no-repeat url(../images/img/Learning-Center/back.png);
  background-color: #F1F6FF;
  p {
    max-width: 716px;
  }
  img {
    position: absolute;
    bottom: 0;
    left: 0;;
  }
}
.title-learning {
  margin-bottom: 40px;
}
/*articles*/
.articles_crumbs {
  display: flex;
  margin-bottom: 64px;
}
.articles_crumbs + p {
font-size: 14px;
}
.articles_link-box-img {
  border-radius: 8px;
  overflow: hidden;
  img {
    width: 100%;
    display: block;
    scale: 1.5;
    transition: .5s;
    &:hover {
      scale: 1;
    }
  }
}
.articles {
  padding: 32px 0 48px;
  .articles_link-title {
    margin: 20px 0 9px;
    font-family: 'Gilroy';
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #002366;
  }
  p{
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 56px;
  }
}
.pagination-box {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 36px;
}
.pagination-item {
  font-family: 'Gilroy';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #002366;
  &:hover {
    opacity: 50%;
  }
}
.crumb-span {
  font-size: 14px;
}
/*next-step*/
.direcly {
  padding: 0 16px;
  color: #4169E1;
  margin-bottom: 16px;
}
.direcly_box {
  padding: 67px 0 61px;
  text-align: center;
  border-radius: 8px;
  background-color: #F1F6FF;
}
.direcly_box-text {
  max-width: 594px;
  margin: 0 auto;
  p {
    margin-bottom: 49px;
  }
  .button-main {
    background-color: #4169E1;
    color: #fff;
  }
}  
.direcly_title {
  margin-bottom: 16px;
  color: #002366;
}
                                                                     
                                                                           /*Page Contact*/

.contact {
  padding: 16px 16px 16px 16px;
  color: #fff;
}
.box-contact {
  padding: 56px 0  120px;
  background: center right  / 81% no-repeat url(../images/img/Contact/back.png);
  background-color: #F1F6FF;
  border-radius: 16px;
  p {
    margin-bottom: 25px;
    max-width: 716px;
    color: #5D6B86;
  }
  
  form {
    max-width: 847px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 24px;
    .button-main {
      background-color: #4169E1;
      color: #fff;
      margin-bottom: 80px;
      &:hover {
        color: #4169E1;
        background-color: #fff;
      }
    }
  }
  input {
    width: 49%;
    border-radius: 8px;
  }
  textarea {
    width: 100%;
    color: #5D6B86;
    border-radius: 8px;
  }
}
.title-first-contact {
  max-width: 810px;
  margin-bottom: 39px;
}
.contact_box-link {
  display: flex;
  justify-content: space-between;
  max-width: 136px;
}
                                                          /*Page Learn-blog*/
.learn-blog-hero {
  background-image: url(../images/img/Learn-blog/01.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 312px 0 48px;
  margin-bottom: 16px;
}
.learn-blog_title {
  color: #fff;
}
.casecrumbs_learn-blog {
  margin-bottom: 48px;
}
/*casecrumbs-back*/
.casecrumbs-back {
  margin-bottom: 48px;
}
.casecrumbs-back_link {
  position: relative;
  color: #4169E1;
  font-family: 'Gilroy';
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 15px;
  &::before {
    content: '<';
    position: absolute;
    left: 0;
  }
}
.blog-article h3 {
  margin-bottom: 16px;
}
.mitigating {
  margin-bottom: 48px;
  p {
    margin-bottom: 22px;
  }
}
.mitigating_list {
  margin-bottom: 32px;
  padding-left: 20px;
}
.mitigating_link {
  color: #5D6B86;
  text-decoration: underline;
  &:hover {
    color: #4169E1;
  }
}
.methods {
  margin-bottom: 43px;
}
.methods_link {
  color: #4169E1;
  text-decoration: underline;
}
.itad {
  margin-bottom: 15px;
}
.bring {
  margin-bottom: 40px;
}
.bring {
  p {
    margin-bottom: 16px;
  }
  ul {
    margin-bottom: 16px;
  }
}
.compliance {
  margin-bottom: 72px;
}
.compliance p {
  margin-bottom: 16px;
}
/*questions*/
.questions {
  padding: 0 16px;
  margin-bottom: 48px;
  color: #fff;
}
.questions_box {
  padding: 39px 0 33px;
  background-image: url(../images/img/wave.webp);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}
.questions_text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 907px;
  margin: 0 auto;
  .button-main {
    margin: 28px 0 8px;
    background-color: #002366;
    &:hover {
      color: #002366;
      background-color: #fff;
    }
  }
  p {
    max-width: 605px;
    text-align: center;
  }
}
.questions_title {
  color: #fff;
  margin-bottom: 21px;
  text-align: center;
}
/*posted*/
.posted {
  margin-bottom: 158px;
}
.posted_box-link {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  a {
    font-family: 'Gilroy';
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    color: #4169E1;
    padding: 4px 16px;
    background-color: #F1F6FF;
    text-transform: capitalize;
    border-radius: 4px;
    &:hover {
      background-color: #4169E1;
      color: #F1F6FF;
    }
  }
  span {
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    color: #002366;
    margin-right: 16px;
  }
}
/*learning-logo*/

.learning-logo {
  margin-bottom: 74px;
  p {
    font-family: 'Gilroy';
    font-size: 48px;
    font-weight: 800;
    line-height: 64px;
    color: #00102F;
  }
  img {
    margin-bottom: 41px;
  };
}
.span-learning-logo {
  font-family: 'Gilroy';
  font-size: 72px;
  font-weight: 700;
  line-height: 64px;
  color: #4169E1;
}
/*feedback*/
.feedback {
  padding: 0 16px;
  margin-bottom: 64px;
}
.feedback_box {
  background-color: #F1F6FF;
  border-radius: 8px;
  padding: 8px 8px 16px;
}
.swiper {
  position: relative;
  width: 100%;
  height: 100%;
}
.feedback_items-box {
  position: relative;
}
.feedback_text-box {
  width: 50%;
  padding: 48px 0 32px 0;
  h2 { 
    margin-bottom: 40px;
    max-width: 440px;
  }
  h2 + p {
    margin-bottom: 40px;
    margin-bottom: 23px;
  }
  p {
    max-width: 514px;
    
  }
  .button-main {
    top: 116px;
  }
}
.feedback_undertitle {
  font-family: 'Gilroy';
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #002366;
  margin-bottom: 4px;
}
.feedback_span {
  font-family: 'Gilroy';
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #4169E1;
  margin-bottom: 116px;
}
.feedback_img-box {
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
}
.swiper-pagination {
  bottom: 21%;
  left: -48%;
}
.swiper-button-left {
  transform: translateX(-51px)
}
.feedback_click {
  position: absolute;
  bottom: 19%;
  right: 52%;
  z-index: 100;
  cursor: pointer;
}
#video-popup {
  padding: 0;
  display: none;
  width: 700px;
  height: 400px;
  border-radius: 40px;
  overflow: hidden;
}
.popup-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fancybox__content>.f-button.is-close-btn {
  top: 10px;
  right: 10px;
}








@import "base/media";