
@font-face {
    font-family: 'Maitree';
    src: url(../fonts/Maitree/Maitree-Medium.ttf);
    font-style: normal;
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy/Gilroy-Semibold.ttf);
    src: url(../fonts/Gilroy/Gilroy-Semibold.woff) format("woff"), url(../fonts/Gilroy/Gilroy-Semibold.eot) format("truetype");
    font-style: normal;
    font-display: swap;
    font-weight: 600;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy/Gilroy-Bold.ttf);
    src: url(../fonts/Gilroy/Gilroy-Bold.woff) format("woff"), url(../fonts/Gilroy/Gilroy-Bold.eot) format("truetype");
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy/Gilroy-Extrabold.ttf);
    src: url(../fonts/Gilroy/Gilroy-Extrabold.woff) format("woff"), url(../fonts/Gilroy/Gilroy-Extrabold.eot) format("truetype");
    font-style: normal;
    font-display: swap;
    font-weight: 800;
}

